.hero {
    width: 100vw;
    height: 480px;
    background-image: url(../images/img4.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &__content {
        position: absolute;
        margin-top: 300px;
        border-left: solid 5px white;

        &__title {
            font-family: "Montserrat", sans-serif;
            color: white;
            padding-left: 50px;
            font-size: 30px;
            
        }
    
        &__text {
            padding-top: 20px;
            padding-left: 50px;
            font-family: "Montserrat", sans-serif;
            color: white;
        }
    }
}